@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

* {
    font-family: "Bree Serif", serif;
}

.heading {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    font-family: "Bree Serif", serif;
    font-weight: 500;
    margin-bottom: 20px;
    background: linear-gradient(to right,
            #f6cf65, #f4a100, #f69200, #f88715,
            #fa6523, #fa563c, #fa2d36, #fa496d,
            #f8326b, #f7347f, #f7338d);
    -webkit-background-clip: text;
    color: transparent;


}

.description {
    text-align: auto;
    color: white;
}

.carousel-item {
    padding: 10px;
    margin-bottom: 30px;

    transition: all 0.5s ease-in-out;
}

.main_slider_app {
    width: 100%;
    margin: auto;

    padding: 10px;

}

strong {
    background: linear-gradient(to right,
            #f6cf65, #f4a100, #f69200, #f88715,
            #fa6523, #fa563c, #fa2d36, #fa496d,
            #f8326b, #f7347f, #f7338d);
    -webkit-background-clip: text;
    color: transparent;
}

.live a:hover,
.tech:hover {
    background: linear-gradient(to right,
            #f6cf65, #f4a100, #f69200, #f88715,
            #fa6523, #fa563c, #fa2d36, #fa496d,
            #f8326b, #f7347f, #f7338d);
    -webkit-background-clip: text;
    color: transparent;
    cursor: pointer;
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: rgba(228, 82, 15, 0.938);
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;
    transition: all 0.5s ease-in-out;
}

.arrow:hover {
    background-color: rgba(239, 10, 10, 0.888);
}

.title_project {
    text-align: left;
    font-weight: bold;
    font-size: 20px;


    background: linear-gradient(to right,
            #f6cf65, #f4a100, #f69200, #f88715,
            #fa6523, #fa563c, #fa2d36, #fa496d,
            #f8326b, #f7347f, #f7338d);
    -webkit-background-clip: text;
    color: transparent;
}

.arrow.disabled {
    background-color: rgba(160, 155, 155, 0.904);
    cursor: not-allowed;
}

.next {
    right: 10px;
}

.prev {
    left: 10px;
}

.project_card {
    display: flex;
    flex-direction: column;

    /* border: 2px solid greenyellow; */
    /* background-image: linear-gradient(to bottom, white, rgba(9, 8, 8, 0.805)); */
    height: 600px;

    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(56, 44, 44, 0.74);
}

.card_img {
    width: 100%;
    padding: 10px;
}

.card_img img {
    border-radius: 5px;
    height: 200px;
    width: 100%;
    margin: auto;

}

.details {
    text-align: justify;
    width: 100%;
    padding: 10px;
    color: black;
    font-weight: 500;
}

.project-tech-stack {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 10px 10px;
    margin-bottom: 5px;
}

.project-tech-stack div {
    padding: 3px 5px;
    font-size: 13px;
    background-color: #fa2d2da1;

    color: transparent;
    color: white;
    font-weight: 500;
    margin: 2px 2px;
    border-top-left-radius: .75rem;
    border-bottom-right-radius: .75rem;
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.project-tech-stack div:hover {
    cursor: pointer;
    background-color: rgb(32, 32, 32);
}

.project-card-btn {
    display: flex;
    width: 80%;
    margin: auto;
    margin-bottom: 15px;
    color: white;
    justify-content: space-between;
}

.project-card-btn button {
    display: flex;
    align-items: center;
    font-size: 16px;

    color: white;
    cursor: pointer;
    background-color: #fa2d2da1;
    margin: 2px 2px;
    border-top-left-radius: 24.75rem;
    border-bottom-right-radius: 24.75rem;
    transition: all 0.3s ease-in-out;
    padding: 10px 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.project-card-btn button:hover {
    background: linear-gradient(90deg, rgb(7, 7, 7) 0%, rgba(13, 13, 14, 0.815) 44%, rgba(27, 27, 27, 0.856) 99%);
    color: white;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .carousel-item {
        width: 50%;
    }
}

@media screen and (min-width:200px) and (max-width:767px) {
    .carousel-item {
        width: 100%;
    }

    .project_card {
        display: flex;
        flex-direction: column;

        height: 600px;
        /* border: 1px solid red; */
        box-shadow: 10px 10px 10px rgba(56, 44, 44, 0.74);
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .carousel-item {
        width: 100%;
    }

    .project_card {
        display: flex;
        flex-direction: column;

        height: 600px;
        /* border: 1px solid red; */
        box-shadow: 10px 10px 10px rgba(56, 44, 44, 0.74);
    }
}