#skill {
  width: 90%;
  margin: auto;
  font-family: serif;
  /* border: 2px solid red; */
  cursor: pointer;
}

.name {
  font-size: 40px;

  font-family: "Bree Serif", serif;
  font-weight: 500;

  background: linear-gradient(to right,
      #f6cf65, #f4a100, #f69200, #f88715,
      #fa6523, #fa563c, #fa2d36, #fa496d,
      #f8326b, #f7347f, #f7338d);
  -webkit-background-clip: text;
  color: transparent;

}

#skillDiv {
  width: 90%;
  margin: 20px auto;
  display: grid;
  margin-top: 30px;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  font-family: serif;
  /* margin-bottom: 50px; */
  /* border: 3px solid green; */
  place-items: center
}

.skill_in_div {
  border: 1px dotted rgb(212, 152, 152);

  align-items: center;
  justify-content: center;
  width: 80%;
  padding: 10px;
  height: 145px;

  text-align: center;
  border-radius: 10px;

  transition: all 0.3s ease-in-out;
  box-shadow: rgb(48, 48, 48) 5px 5px 0px 0px;
}

.skill_in_div:nth-child(5) img,
.skill_in_div:nth-child(6) img,
.skill_in_div:nth-child(8) img,
.skill_in_div:nth-child(7) img,
.skill_in_div:nth-child(15) img,
.skill_in_div:nth-child(16) img,
.skill_in_div:nth-child(11) img,
.skill_in_div:nth-child(14) img {
  /* border: 2px solid red; */
  height: 90px;
}









.skill_in_div:hover {

  box-shadow: rgba(8, 8, 8, 0.89) 10px 10px 0px 0px;
  transform: scale(0.98);
}

.logo {
  width: 100%;
  height: 100px;
  display: block;

  padding: 5px;
  margin: auto;
  border-radius: 15%;
  border: 1px dotted black;
}

.logo:nth-child(5) {
  border: 3px solid green;
}

#skillH3 {
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  padding: 5px;
  width: 100%;
  margin: auto;
  font-family: "Bree Serif", serif;
  border: 0px solid yellow;
  color: #4c3575;
}

#skillH3:hover {
  color: #fef5ed;
}

@media all and (min-width: 768px) and (max-width: 1280px) {
  #skillDiv {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  #SkillH3 {
    width: 100%;
    margin: auto;
  }

}

@media all and (min-width: 300px) and (max-width: 767px) {
  #skillDiv {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-right: 10px;
  }

  .skill_in_div {
    width: 100%
  }
  .name {
    font-size: 25px;
  }

}