@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

* {
  font-family: "Bree Serif", serif;
}

#about_head {
  font-size: xl;
  text-align: center;
  border: 0px solid green;
}

#aboutDiv {
  width: 90%;
  margin: auto;
  display: flex;
  margin-top: 20px;
  border-radius: 20px;
}

.aboutDetails {

  width: 80%;
  
  margin-bottom: 80px;

}

#first {
 width: 40%;  
 margin-top: -50px;
}

#first>img {
  width: 100%;
  margin: auto;

}

.name {
  font-size: 40px;
  
  font-family: "Bree Serif", serif;
  font-weight: 500;

  background: linear-gradient(to right, 
  #f6cf65, #f4a100, #f69200, #f88715, 
  #fa6523, #fa563c, #fa2d36, #fa496d, 
  #f8326b, #f7347f, #f7338d
);
-webkit-background-clip: text;
color: transparent;
    
}

.namep {
  font-size: 20px;
  padding-top: 20px;
  text-align: justify;
  
}

#resumeDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  color: #fef5ed;
  width: 15%;
  /* width: fit-content; */
 
  border-radius: 7px;
  
  border: 2px solid rgb(101, 118, 138);
  /* border: 0px solid blue; */
  cursor: pointer;
  font-family: serif;
  margin-right: 100px;
  background-color: black;
  margin-top: 40px;
}

#resumeDiv:hover {
  /* background: rgb(121, 114, 232); */
  background: linear-gradient(90deg,
      rgb(44, 44, 44) 0%,
      rgb(34, 34, 34) 44%,
      rgb(13, 13, 14) 99%);
}

.resumeButton {
  /* font-size: 22px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  font-family: serif;
  width: 100%;
  cursor: pointer;
  border: 0px solid red;
}

.resumeDownloadLogo {
  font-size: 22px;
}


@media all and (min-width: 300px) and (max-width: 767px) {
  #about_head {
    font-size: 3xl;
    text-align: center;
  }

  #aboutDiv {
    width: 90%;
    flex-direction: column;
    margin: auto;
    /* height: 700px; */
  }

  #myImg {
    width: 100%;
    height: 50%;
    border-radius: 50%;
  }

  .aboutDetails {
    /* border: 2px solid green; */
    margin-top: 20px;
    margin-left: 5px;
    width: 100%;
    margin: auto;
  }

  .name {
    font-size: 18px;
    text-align: center;
    font-weight: 500
  }

  #first {
    width: 90%;
    margin: auto;
  }

  #first img {
    width: 80%;
    border: 0px solid green;
    margin: auto;
  }

  .name:nth-child(1) {
    font-size: 20px;
  }

  .namep {
    /* color: #243D25; */
    font-size: 16px;
    /* text-align: left; */
    /* text-align: justify; */
  }


  #resumeDiv {
    display: flex;
    width: 95%;
    margin: auto;
    margin-bottom: 20px;
    align-items: center;
    font-size: 15px;
    color: #fef5ed;

    padding: 3px 10px 3px 10px;
    border-radius: 7px;
    margin-top: 20px;
    border: 0px solid rgb(255, 0, 230);
    cursor: pointer;
    font-family: serif;

    /* background-color: #4c3575; */
  }


  .resumeButton {
    font-size: 22px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-family: serif;
    cursor: pointer;
    border: 0px solid rgb(153, 255, 0);
  }

  .resumeDownloadLogo {
    font-size: 16px;
  }
}

#about section {
  border: 0px solid red;


}

@media screen and (max-width: 992px) and (min-width: 768px) {
  #about_head {
    font-size: 3xl;
    text-align: center;
  }

  #first {
    width: 100%;
    margin: auto;
  }

  #first img {
    width: 60%;
    border: 0px solid green;
    margin: auto;
  }

  #aboutDiv {

    width: 90%;
    display: block;
    /* margin-top: 30px; */
    border-radius: 30px;
    align-items: center;
  }



  #myImg {
    width: 48%;
    height: 100%;
  }

  .aboutDetails {
    width: 100%;
    border: 0px solid red;
  }

  .name {
    font-size: 30px;
    text-align: center;
  }

  .namep {
    font-size: 25px;
  }


  #resumeButton {
    font-size: 18px;
  }

  .resumeDownloadLogo {
    font-size: 18px;
  }

  #resumeDiv {
    display: flex;
    width: 60%;
    margin: 40px auto;
    margin-bottom: 20px;
    align-items: center;
    font-size: 15px;
    color: #fef5ed;

    padding: 3px 10px 3px 10px;
    border-radius: 7px;
    /* margin-top: 20px; */
    /* border: 2px solid rgb(255, 0, 230); */
    cursor: pointer;
    font-family: serif;

    /* background-color: #4c3575; */
  }


  .resumeButton {
    font-size: 22px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-family: serif;
    cursor: pointer;
    border: 0px solid rgb(153, 255, 0);
  }

  .resumeDownloadLogo {
    font-size: 16px;
  }

}