@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

* {
    font-family: "Bree Serif", serif;
}

/* <--------Accordian--------> */
.Accordian{
    border: 1px solid gainsboro;
}
.exp_container {
    width: 100%;
    /* border: 2px solid green; */
    margin: 50px auto;
}

.main_container_div {
    font-family: "Bree Serif", serif;
    width: 100%;
    border-radius: 10px;
    margin: auto;
    padding: 0px 20px 0px 20px;
}

.heading_cont_first {
    width: 96%;
    display: flex;
    margin: auto;
    /* border: 2px solid red; */
    justify-content: space-between;
    height: 70px;
}

h4 {
    font-size: 15px;
    /* color: black; */
    font-weight: bold;
}





.roles_div {
    width: 95%;
    margin: auto;
    margin-top: 0px;

}

.roles_div ul li {
    font-size: 18px;

}

.card_exp {
    position: relative;
    width: 100%;
    transition: all 0.5s ease-in-out;
    margin: 30px 0px;
    /* border: 2px solid red; */
    padding: 10px 0px 20px 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
        rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.title_pos1,.title_pos{
    /* color: black; */
    font-weight: bold;
}
.card_exp::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    /* border: 1px solid gainsboro; */
    width: 10px;

    border-left: 4px solid transparent;
    transition: all 0.6s ease-in-out;
    border-radius: 4px;
    opacity: 0;
}

.card_exp:hover::before {
    opacity: 1;
    border-left-color:black;
}

.card_exp:hover {
    cursor: pointer;
}

@media screen and (min-width: 200px) and (max-width: 420px) {
    .exp_container {
        width: 100%;
        margin: auto;
    }

    .main_container_div {
        font-family: "Bree Serif", serif;
        width: 95%;
        border-radius: 10px;
        margin: auto;
    }

    .heading_cont_first {
        width: 100%;
        display: block;
        /* border: 1px solid green; */
        height: 160px;
        padding: 0px 10px;
    }

    .heading_cont_first div {
        line-height: 1.9;
        width: 100%;
        margin-top: 20px;
        height: 50px;
        /* border: 1px solid rgb(0, 13, 128); */
    }

    .title_pos1 {
        color: #4c3575;
        line-height: 1.2;
        font-size: 20px;
        font-weight: bold;
    }

    .title_pos {
        color: #4c3575;
        line-height: 1.2;
        font-size: 20px;
        font-weight: bold;
    }

    .roles_div {
        width: 100%;
        margin-top: 0px;
        padding: 20px;
    }

    .roles_div ul li {
        font-size: 20px;
        text-align: justify;
        line-height: 1.5;
    }

    .card_exp {
        position: relative;
        width: 100%;
        transition: all 0.5s ease-in-out;
        margin: 30px 0px;
        /* border: 5px solid green; */
        padding: 20px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
            rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    }
}

@media screen and (min-width: 421px) and (max-width: 768px) {
    .exp_container {
        width: 90%;
        margin: auto;
    }

    .main_container_div {
        font-family: "Bree Serif", serif;
        width: 100%;
        border-radius: 10px;
        margin: auto;
        padding: 15px;
    }

    .heading_cont_first {
        width: 100%;
        display: flex;
    flex-direction: column;
        height: 90px;
        padding: 10px;
    }

    .heading_cont_first div {
        line-height: 1.4;
        padding: 10px;
        /* border: 1px solid rgb(100, 128, 0); */
    }

    .title_pos1 {
        color: #4c3575;
        line-height: 1.4;
        font-size: 22px;
        font-weight: bold;
    }

    .title_pos {
        color: #4c3575;
        line-height: 1.4;
        font-size: 22px;
        font-weight: bold;
    }

    h4 {
        font-size: 15px;
    }

    .roles_div {
        width: 100%;
        margin-top: 0px;
        padding: 10px;
        margin-top: 70px;
        /* border: 2px solid green; */
    }

    .roles_div ul li {
        font-size: 25px;
        line-height: 1.5;
    }
}